.body {
  padding: 10px 50px 10px 50px;
  background-color: #111;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
}

.mini_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
